.NowPlaying__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 64px;
  width: 30%;
  max-width: 450px;
}

.NowPlaying__image {
  margin-right: 13px;
  width: 64px;

  & img {
    width: 100%;
  }
}

.NowPlaying__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 20px;
  width: calc(100% - 76px);
}

.NowPlaying__title {
  display: flex;
  font-size: 14px;
  max-width: 100%;

  & > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.NowPlaying__artist {
  color: #a0a0a0;
  font-size: 11px;
}
