@media (max-width: 1200px) {
  .playlist-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    min-height: 200px;
    height: 100%;
    margin: 0;
    width: 100%;
    & div {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}
