.Playlist__description-container {
  position: fixed;
  max-width: 20vw;
}

.Playlist__image-container {
  text-align: center;
  margin-right: 40px;
  width: 100%;

  & img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
  }
}

.Playlist__tracks {
  font-size: 2rem;
  flex: 1;
  position: relative;
  margin-left: 22vw;

}

@media (max-width: 1200px) {
  .Playlist__description-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    height: 100%;
    min-height: 220px;
    max-width: 100%;
    width: 100%;

  }

  .Playlist__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    min-height: 200px;
    height: 100%;
    margin: 0;
    width: 100%;
    & div {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }


  .Playlist__image-container {
    width: 20vw;
    min-width: 160px;
    & img {
      width: 100%;
    }
  }

  .Playlist__tracks {
    margin-left: 0;
  }
}
