@import "../../partials/colors";

.track-container {
  font-size: 16px;
  height: 70px;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: row;
  padding: 16px;
  transition: all 0.2s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.track-container--active {
  color: $spotify-green-playing;
}

.track-container__number {
  font-size: 20px;
  padding-right: 16px;
  width: 48px;
}

.track-container__description {
  flex: 1;
}

.track-container__name {
  font-size: 20px;
  // color: #fff;
}

.track-container__artist {
  color: $spotify-gray;
  font-weight: 200;
}
