.playlist-play-button {
  background-color: #2ebd59;
  border: none;
  border-radius: 500px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  height: 43px;
  outline: none;
  padding: 13px 44px;
  width: 130px;
}
