.AlbumCoverContainer {
  font-size: 18px;
  font-weight: 200;
  padding: 0 8px 40px 8px;
  text-align: center;
  position: relative;

  @media (max-width: 786px) {
    width: 50%;
  }

  @media (min-width: 787px) and (max-width: 1199px  ) {
    font-size: 15px;
    width: 33%;
  }

  @media (min-width: 1200px) and (max-width: 1499px  ) {
    font-size: 15px;
    width: 25%;
  }

  @media (min-width: 1500px) {
    font-size: 15px;
    width: 16%;
  }
}
