.App {
  // background-color: gray;
  // background-image: linear-gradient(rgb(39, 31, 19), rgb(10, 8, 5) 85%);
  // background-image: linear-gradient(rgb(141, 85, 12), rgb(14, 8, 1) 85%);
  background-image: linear-gradient(rgb(46, 38, 52), rgb(7, 6, 8) 85%);
}

section {
  // background-color: red;
  padding: 0 30px 0 30px;
  width: 100%;
}
