@import "../colors";

.Main-container {
  font-size: 12.8px;
  font-weight: bold;
  height: 100vh;
  letter-spacing: 1px;
  margin: auto;
  width: 100%;
  & nav {
    margin-left: 220px;
    min-width: 515px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.Main-nav {
    color: $spotify-gray;
    transition-duration: 0.2s;
    transition-property: color;
}

.Main-nav--selected {
  color: white;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 35%;
    bottom: -5px;
    height: 1px;
    width: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid $spotify-green;
  }
}

.Main-nav-ul {
  font-weight: bold;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;

  & li {
    margin: 10px;
    padding: 10px;
  }
}
