.Featured {
  color: #fff;
  margin-top: 0;
  // margin-left: 220px;
  min-width: 515px;

  & h2 {
    font-size: 32px;
    text-align: center;
  }
}

.Featured__album-covers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
