@import "../colors";
@import "../layout";

.SideNavbar-nav {
  background-color: rgba(0, 0, 0, 0.5);
  color: $spotify-gray;
  font-size: 16px;
  font-weight: bold;
  height: 100vh;
  padding: 24px 24px 95px 24px;
  position: fixed;
  width: 100%;
  max-width: $sidebar-width;
  min-width: $sidebar-width;

  & img {
    width: 32px;
  }

  & hr {
    color: $spotify-gray;
  }
}

.SideNavbar__link {
  color: $spotify-gray;
}

.selected {
  color: $spotify-green;
}
