html,
body,
div,
nav,
p,
a,
ul,
li,
section,
footer,
img,
i,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100vh; }

body {
  cursor: default;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

a,
a:visited,
a:hover {
  text-decoration: none; }

.container {
  display: flex;
  flex-direction: row; }
