.Playlist__container {
  // background-color: rgb(26, 18, 22);
  // position: fixed;
  display: flex;
  flex-direction: row;
  color: white;
  // height: auto;
  // max-height: 100vh;
  // overflow-y: hidden;

}

.Playlist__description {
  position: relative;

  // top: 10px;
  width: 100%;
  max-width: 400px;
  // height: 100vh;
}

.Playlist__tracks {
  background-color: transparent;

  font-size: 2rem;
  // margin-left: 400px;
  // flex: 1;
  // display: flex;
  position: relative;
  top: -1px;
  // overflow: auto;
  // height: auto;
  // backface-visibility: hidden;
  // will-change: overflow;
}
