.Playlist__container {
  // background-color: rgb(26, 18, 22);
  // position: fixed;
  display: flex;
  flex-direction: row;
  color: white;
  // height: auto;
  // max-height: 100vh;
  // overflow-y: hidden;
  & h2 {
    font-size: 26px;
  }

  & p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 200;
    padding-bottom: 10px;
  }

}

.Playlist__description-container {
  position: fixed;

  // top: 10px;
  width: 30vw;
  max-width: 400px;
  // height: 100vh;
  & img {
    max-width: 255px;
    max-height: 255px;
    width: 100%;
  }


}

.Playlist__image-container {
  margin-right: 40px;
}

.Playlist__tracks {
  font-size: 2rem;
  // margin-left: 400px;
  flex: 1;
  // display: flex;
  position: relative;
  // width: 50%;
  margin-left: 400px;

}

@media (max-width: 1200px) {
  .Playlist__container {
    display: flex;
    flex-direction: column;
    // min-height: 220px;
    min-width: 515px;
    width: 100%;

  }

  .Playlist__description-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    height: 100%;
    min-height: 220px;
    max-width: 100%;
    width: 100%;

  }

  .Playlist__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    min-height: 200px;
    height: 100%;
    margin: 0;
    width: 100%;
    & div {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

    }
    & button {
      height: 2rem;
      width: 5rem;
    }
  }


  .Playlist__image-container {
    width: 20vw;
    min-width: 160px;
    & img {
      width: 100%;
    }
  }

  .Playlist__tracks {
    margin-left: 0;
  }
}
